services:
  postgres-db:
    image: postgres:16-alpine

    restart: always

    environment:
      POSTGRES_USER: 'linkfloo'
      POSTGRES_PASSWORD: '*&!%&qwe123ASDzxc$'
      POSTGRES_DB: 'linkfloo_db'

    ports:
      - '5432:5432'

    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: